<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
        	<remove fileExtension=".plist" />
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
            <remove fileExtension=".wav" />
            <mimeMap fileExtension=".wav" mimeType="audio/wav" />
        	<remove fileExtension=".mp3" />
            <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
        </staticContent>
    </system.webServer>
</configuration>
